### FNF-Specific
# File used for the NG API. Should not be shared with others.
APIStuff.hx

# Private analytics & secrets - DO NOT COMMIT
# Only SAMPLE templates and README are visible to all repo members.
# The actual credential/config files must be obtained from an admin.

art/build_x32-officialrelease.bat
art/build_x64-officialrelease.bat
art/test_x64-debug-officialrelease.bat

### VS Code
export/*
_build/
artifacts/
/PerfViewData*.log*
/toolchains/*
!/toolchains/haxe-novagc/
.vscode/*
.haxelib/
# .github/
*.code-workspace
vs_Community.exe
# Local history which shouldn't be shared.
.history
.ionide
# ! means a file should be added regardless of it it gets ignored prior.
# Including to allow others to use already set-up configuration tweaked for the project.
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
art/build_html.bat
art/build_html-debug.bat
